{% extends 'encyclopedia/layout.html' %}

{% block content %}
{% block title %}
    {{ title }}
    
{% endblock %}

{% block body %}

<div class="container">
<table>
    <form method="POST">
        {% csrf_token %}
        <div>
            <input type="text" value="{{ title }}" name="title" class="form-control">
        </div>
        <div>
            <textarea name="body" class="form-control" rows="15">{{ body }}</textarea>
        </div>
        <button class="btn btn-success" type="submit">Edit</button>
    </form>
</table>
</div>
{% endblock %}
